In [11]:
# EJERCICIO 1 ##########################################################################################################
# Asignación Múltiple de Variables
var1, var2, var3, var4 = 13, 7, "Hola", True

print("Prueba de 'Asignación Multiple de Variables'.")
print(var1, type(var1))
print(var2, type(var2))
print(var3, type(var3))
print(var4, type(var4))

# Intercambio de Valores de Variables
# Variables con tipos iguales, método XOR 
# (se que no lo hemos dado pero me lo sabía y queria probarlo)
var1 = var1 ^ var2
var2 = var2 ^ var1
var1 = var1 ^ var2

# Variables con tipos diferentes, método sucio
var4 = 7
var1 = True

# Variables con tipos diferentes, método de variable auxiliar
aux = var2
var2 = var3
var3 = aux

print("\nPrueba de 'Intercambio de Valores de Variables'.")
print(var1, type(var1))
print(var2, type(var2))
print(var3, type(var3))
print(var4, type(var4))

# La asignación múltiple consiste en concatenar las variables que se quieran asignar a la vez en una misma linea 
# separándolas por comas y, despues del igual, se hace lo mismo con los valores correspondientes de tal forma que el 
# primer valor escrito es asignado a la primera variable escrita (leyendo de izq. a der.). Las variables pueden tener 
# datos de distintos tipos. El formato sería por lo tanto el siguiente:
#
# variable_1, variable_2, variable_3 = valor_1, valor_2, valor_3

Prueba de 'Asignación Multiple de Variables'.
13 <class 'int'>
7 <class 'int'>
Hola <class 'str'>
True <class 'bool'>

Prueba de 'Intercambio de Valores de Variables'.
True <class 'bool'>
Hola <class 'str'>
13 <class 'int'>
7 <class 'int'>

In [20]:
# EJERCICIO 2 ##########################################################################################################
# Importe de la biblioteca necesaria (math)
import math

# Inicialización de variables
radio, area, circunferencia = 0.0, 0.0, 0.0

# Recepción del radio del círculo por parte del usuario
radio = float(input("Introduce el radio del círculo: "))

# Cálculo de la circunferencia (C) y el área (A)
circunferencia = 2 * math.pi * radio
area = math.pi * radio ** 2

# Impresión por pantalla de C y A con una precisión de 2 decimales
print(f"Circunferencia: {circunferencia:.2f}\nÁrea: {area:.2f} ")

Introduce el radio del círculo:  4

Circunferencia: 25.13
Área: 50.27

In [9]:
# EJERCICIO 3 ##########################################################################################################

# Cálculo de la operación completa
resultado = 2 ** 3 ** 2 // 5 % 8 + 3 * 4 ** 2
print(resultado)

# Las operaciónes se resuelven con el siguiente orden de preferencia:
# 1. Las potencias (**) en orden der. -> izq.
# 2. Los productos y divisiones (*, /, //, %) en orden izq. -> der.
# 3. Las sumas y restas (+, -) en orden izq. -> der.
#
# Por ello la operacion completa se puede delimitar con parentesis de la siguiente forma sin cambiar el resultado:
# (((2 ** (3 ** 2)) // 5) % 8) + (3 * (4 ** 2))
#
# Y si vamos resolviendo cada parentesis nos quedaría esta escuencia:
# ((((2 ** (3 ** 2)) // 5) % 8) + (3 * (4 ** 2)))
# ((((2 ** (3 ** 2)) // 5) % 8) + (3 * 16))
# ((((2 ** (3 ** 2)) // 5) % 8) + 48)
# ((((2 ** 9) // 5) % 8) + 48)
# (((512 // 5) % 8) + 48)
# ((102 % 8) + 48)
# (6 + 48)
# 54
#
# NOTA IMPORTANTE: mientras que las operación '/' corresponde al cálculo de una division al uso (9 / 2 = 4.5), las 
# operaciones '//' y '%' corresponden, respectivamente a los calculos del cociente (9 // 2 = 4) y resto (9 % 2 = 1) de 
# una división clásica. Esta última, la operación del resto, tambien es conocida como la operación módulo y se lee de 
# esta forma:
# 15 % 24 = 15 || '15 en módulo 24 es 15' || Formato 24h
# 15 % 12 = 3  || '15 en módulo 12 es 3'  || Formato 12h

54

In [37]:
# EJERCICIO 4 ##########################################################################################################
# Inicialización de variables
temperatura = 0.0

# Recepción de la temperatura en Celsius (ºC) por parte del usuario
temperatura = float(input("Introduce la temperatura (ºC): "))

# Conversión de ºC a Fahrenheit (ºF)
temperatura = temperatura * 9 / 5 + 32

# Impresión por pantalla de la temperatura en ºF
print(f"Temperatura (ºF): {temperatura:.2f}")

Introduce la temperatura (ºC):  -17.777777

Temperatura (ºF): 0.00

In [40]:
# EJERCICIO 5 ##########################################################################################################
# Importe de la biblioteca necesaria (random)
import random

# Inicialización de variables
temperatura = 0.0

# Obtención de la temperatura aleatoria en Celsius (ºC)
# El rango va del 0 absoluto hasta la temperatura de la fotoesfera del Sol 
temperatura = random.uniform(-273, 5500)

# Conversión de ºC a Fahrenheit (ºF)
temperatura = temperatura * 9 / 5 + 32

# Impresión por pantalla de la temperatura en ºF
print(f"Temperatura (ºF): {temperatura:.2f}")

Temperatura (ºF): 7304.29

In [1]:
# EJERCICIO 6 ##########################################################################################################
# Asignación del texto
texto = """
Entonces apareció el zorro:
—¡Buenos días! —dijo el zorro.
—¡Buenos días! —respondió cortésmente el principito que se volvió pero no vio nada.
—Estoy aquí, bajo el manzano —dijo la voz.
"""

# Impresión del texto de dos formas diferentes
print(texto)
print(texto[-152:-78])

# Selecciones del contenido del texto solicitadas
seleccion_linea = texto[-43:-1]
seleccion_cadena = texto[44:58]
seleccion_letra = texto[8]

# Prueba de las selecciones de contenido
print("\n" + seleccion_linea)
print("\n" + seleccion_cadena)
print("\n" + seleccion_letra)

Entonces apareció el zorro:
—¡Buenos días! —dijo el zorro.
—¡Buenos días! —respondió cortésmente el principito que se volvió pero no vio nada.
—Estoy aquí, bajo el manzano —dijo la voz.

os días! —dijo el zorro.
—¡Buenos días! —respondió cortésmente el principi

—Estoy aquí, bajo el manzano —dijo la voz.

—dijo el zorro

s

In [24]:
# EJERCICIO 7 ##########################################################################################################
# Definicion de los contenidos de la tabla
tabla_registros = [
    ["Marcos", 45, 24700.0],
    ["Lucía", 25, 25500.5],
    ["Andrea", 33, 19800.0],
    ["Sofía", 63, 34100.75],
    ["Isabel", 31, 69420.0],
    ["Fernando", 69, 31415.92]
]

# Impresion de la tabla por pantalla formateada
print("#################################")
print(f"| {"Nombre":<10} {"Edad":>5} {"Salario":>12} |")
print("|-------------------------------|")
for registro in tabla_registros:
    print(f"| {registro[0]:<10} {registro[1]:>5} {registro[2]:>12.2f} |")
print("#################################")

#################################
| Nombre      Edad      Salario |
|-------------------------------|
| Marcos        45     24700.00 |
| Lucía         25     25500.50 |
| Andrea        33     19800.00 |
| Sofía         63     34100.75 |
| Isabel        31     69420.00 |
| Fernando      69     31415.92 |
#################################